@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --title-font: "Montserrat", sans-serif;
    --subtitle-font: "Manrope", sans-serif;
    --body-bg: #1A0E1C;
    --btn-bg: #CB9A50;
    --text-secondary: #999999;
    --bg-black: #1E2227;
    --gold: #ffda6a;
}

body{
    background: var(--body-bg);
}
a{
    text-decoration: none;
}
.text-gold{
    color: var(--gold);
}
.title{
    font-family: var(--title-font);
}
.subtitle{
    font-family: var(--subtitle-font);
}
.text-secondary{
    color: var(--text-secondary) !important;
}
.container-fluid{
    width: 98% !important;
}

/* Pre Loader  */
#preloader{
    background: var(--body-bg) url('../img/preloader.gif') no-repeat center center;
    background-size: 15%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* NavBar Code */
header .navbar-top, .navbar-bottom {
    background: var(--body-bg);
}
header .navbar-brand img {
    height: 50px;
}
header .navbar-bottom .nav-link {
    color: white;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    transition: .3s all ease-in-out;
}
.navbar-bottom .nav-link.active,
.navbar-bottom .nav-link:hover {
    color: #d1a750; 
}
header .btn-login {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    border-radius: 50px;
    padding: 0.3rem 1rem;
    background: transparent;
}
header .btn-login:hover {
    border-color: white;
    
}
.btn-subscribe {
    background: var(--btn-bg);
    color: white;
    border-radius: 50px;
    padding: 0.3rem 1rem;
    border: none;
    border: 1px solid transparent;
    transition: .3s all;
}
.btn-subscribe:hover{
    border-color: rgba(255, 255, 255, 0.5);
}
header .search-icon {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
header .navbar-bottom {
    padding-top: 0;
    padding-bottom: 0;
}
header .offcanvas-end{
    width: 100%;
    border: none;
    background: var(--body-bg);
    color: #fff;
}
.offcanvas-body {
    background: linear-gradient(to bottom, #3b003b, #7d009d);
}
.offcanvas-body .nav-link {
    color: white;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    transition: background 0.3s ease;
}
.offcanvas-body .nav-link:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #ffda6a;
}
.offcanvas-body .nav-link.active {
    background: rgba(255, 255, 255, 0.15);
    color: #d1a750;
}
.offcanvas-body form input {
    background: white;
    border: none;
}

/* -- Home Section -- */
.home{
    width: 100%;
    height: 680px;
    background: url('../img/index/home-bg.png') no-repeat;
    background-position: center;
    background-size: cover;
}
.entertainment-details .home{
    background: url('../img/entertainment/entertainement-bg.png') no-repeat;
    background-position: center;
    background-size: cover;
}
.entertainment-details .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.entertainment-details .profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.home .home-overly{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    display: flex;
    align-items: center;
}

/* content section */
.streaming-section .underline {
    border-bottom: 2px solid #3A3A3A;
    width: 100%;
    position: relative;
}
.streaming-section .underline::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18%;
    border-bottom: 2px solid var(--gold);

}
.streaming-section .small{
    transition: .3s all ease-in;
}
.streaming-section .small:hover{
    color: #fff !important;
}
.streaming-section .movie-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.movie-card img {
    width: 100%;
    border-radius: 10px;
    display: block;
}
.streaming-section .overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
    font-size: 0.85rem;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: 500;
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page .owl-theme .owl-dots,
.home-page .owl-theme .owl-nav{
    display: none;
}

.nostalgia .underline::before{
    width: 12%;
}
.nostalgia p{
    font-family: var(--title-font);
    font-weight: 500;
}

.faq-number {
    background: black;
    color: white;
    border-radius: 5px;
    padding: 6px 12px;
    margin-right: 15px;
    font-weight: bold;
    min-width: 40px;
    text-align: center;
}
.accordion-button:not(.collapsed){
    background: transparent;
    color: white;
    box-shadow: none;
}
.accordion-button {
    background: transparent;
    color: white;
    font-weight: 500;
    box-shadow: none;
    padding-left: 0;
}
.accordion-button::after {
   font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: ""; 
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'><path fill='white' d='M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z'/></svg>");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    transform: none !important;
    color: white;
    margin-left: auto;
}
.accordion-button:not(.collapsed)::after {
    content: ""; 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path fill="white" d="M96 320C96 302.3 110.3 288 128 288L512 288C529.7 288 544 302.3 544 320C544 337.7 529.7 352 512 352L128 352C110.3 352 96 337.7 96 320z"/></svg>');
}
.accordion-item {
    background: transparent;
    border: none;
    width: 85%;
    margin: 0 auto; 
}
.accordion-item + .accordion-item {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 85%;
    margin: 0 auto; 
}
.accordion-body {
    color: rgba(255,255,255,0.8);
    padding-top: 0;
    padding-left: 3.32rem;
}
.accordion-button:focus{
    border-color: none;
    box-shadow: none;
}
.ask-btn {
    background: var(--btn-bg);
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}
.ask-btn:hover {
    background: #c43dff;
}
@media (max-width: 576px) {
    .accordion-item + .accordion-item {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    }
}

section.search{
    margin-top: 44px !important;
    margin-bottom: 120px !important;
}
.search-box {
    width: 100%;
    max-width: 600px;
}
.search-input {
    border-radius: 50px !important;
    border: 1px solid #7a6b82;
    background: transparent;
    color: #fff;
    padding: 12px 20px;
}
.search-input:focus{
    background: none;
}
.search-input::placeholder {
    color: #aaa;
    opacity: 0.7;
}
.search-btn {
    border-radius: 50%;
    border: none;
    background: transparent;
    color: #aaa;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}


.live-page iframe{
    width: 100%;
    height: 550px;
}
.live-page .card{
    height: 550px;
}
.live-page .owl-carousel .owl-nav.disabled {
    display: flex;
}
.owl-theme .owl-nav [class*="owl-"]:hover{
    background: none !important;
}
.live-page .custom-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.live-page .custom-card img {
    width: 100%;
    height: auto;
    display: block;
}
.live-page .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: rgba(0, 5, 0, 0.7);
    color: white;
}
.entertainment-page .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: rgba(0, 5, 0, 0.7);
    opacity: 0;
    color: white;
    transition: .4s all ease-in;
}
.entertainment-page .custom-card:hover .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: rgba(0, 5, 0, 0.7);
    opacity: 1;
    color: white;
    transition: .4s all ease-in;
}
.live-page .play-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: 14px;
    margin-bottom: 8px;
}
.live-page .owl-nav {
    position: absolute;
    top: -45px;
    right: 0;
}
.live-page .owl-nav button {
    background: transparent;
    border: none;
    color: white !important;
    font-size: 24px;
    margin-left: 5px;
}
.live-page .owl-nav button:hover {
    color: #ddd;
}

.elokidz-page .nav-tabs .nav-link {
    color: #ddd;
    font-weight: 500;
}
.elokidz-page .nav-tabs .nav-link.active {
    background: transparent;
    border: none;
    color: #fff;
    border-bottom: 3px solid var(--gold);
}
.elokidz-page .card {
    border: none;
    overflow: hidden;
    border-radius: 10px;
}
.elokidz-page .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

/* -- radio part -- */
.radio-page .radio-card {
    background: linear-gradient(180deg, #4b0082, #800080);
    border-radius: 12px;
    padding: 35px 15px;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
}
.radio-page .radio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}
.radio-page .radio-card img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: contain;
    margin-bottom: 15px;
}
.radio-page .radio-card h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.radio-page .radio-card p {
    margin-bottom: 15px;
    font-size: 14px;
    color: #ddd;
    margin-bottom: 30px;
}
.radio-page .play-btn {
    width: 50px;
    height: 50px;
    background: #fff;
    color: #800080;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 22px;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s;
}
.radio-page .play-btn a{
    color: #800080;
}
.radio-page .play-btn:hover,
.radio-page .play-btn:hover a {
    background: var(--gold);
    color: #fff;
}

.radio-play-page .radio-card {
    background: linear-gradient(135deg, #5E1A6C, #352A4F);
    border-radius: 10px;
    padding: 50px 40px;
    color: #fff;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}
.radio-play-page .radio-card img {
    border-radius: 6px;
    width: 280px;
    height: 255px;
    object-fit: cover;
}
.radio-play-page .radio-card .icons i {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
}
.radio-play-page .radio-card .icons i:hover {
    transform: scale(1.2);
    color: var(--gold);
}
.player-card {
    background: #5E1A6C;
    padding: 15px 30px;
    color: #fff;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}
.player-card img {
    border-radius: 6px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.player-controls i {
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.3s;
}
.player-controls i:hover {
    transform: scale(1.2);
    color: var(--gold);
}
.progress {
    height: 4px;
    background-color: rgba(255,255,255,0.3);
}
.progress-bar {
    background-color: #9900E5;
}
/* -- Login Part -- */
.login-card {
    max-width: 420px;
    margin: 60px auto;
    background-color: #2b0342;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    color: #fff;
}
.login-card h2 {
    font-weight: 600;
    margin-bottom: 10px;
}
.login-card p {
    font-size: 12px;
    color: #c9c9c9;
    margin-bottom: 25px;
}
.login-page .input-group{
    background-color: #4b1a6a;
    height: 45px;
    border-radius: 10px;
}
.login-page .input-group i{
    color: #9900E5;
}
.form-control {
    background: none;
    border: none;
    color: #fff;
}
.form-control:focus {
    box-shadow: none;
    background: none;
    color: #fff;
}
.input-group-text {
    background-color: transparent;
    border: none;
    color: #fff;
}
.login-page .btn-login {
    background-color: var(--btn-bg);
    color: #fff;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px;
    margin-top: 20px;
}
.btn-login:hover {
    background-color: var(--gold);
    color: #fff;
}
.social-icons .btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0 8px;
}
.social-icons .google,
.social-icons .facebook,
.social-icons .apple { 
    background-color: #5E1A6C; color: #fff; 
}
.passEye{
    cursor: pointer;
}
.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.options a {
    color: #c9c9c9;
    text-decoration: none;
}
.options a:hover {
    text-decoration: underline;
}
.options input[type='checkbox']:checked{
    background: #4b0082 !important;
    accent-color: #4b0082;
}
.conti_sign{
    position: relative;
}
.conti_sign::after{
    content: '';
    width: 100px;
    border: 0.5px solid rgba(146, 144, 144, 0.477);
    position: absolute;
    top: 10px;
    right: 0;
}
.conti_sign::before{
    content: '';
    width: 100px;
    border: 0.5px solid rgba(146, 144, 144, 0.477);
    position: absolute;
    top: 10px;
    left: 0;
}
.otp-varification .form-control{
    background: #4b1a6a;
    text-align: center;
    height: 45px;
}
.otp-varification .text-otp{
    color: #9900E5;
    font-weight: 500;
    text-decoration: underline;
}









/* -- Footer Part -- */
footer {
    background: var(--body-bg);
    color: #fff;
    padding: 50px 0 0;
    font-size: 0.9rem;
}
footer h5 {
    font-weight: 600;
    margin-bottom: 20px;
}
footer p, footer li, footer a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    line-height: 1.6;
    transition: .3s all ease-in;
}
footer a:hover{
    color: #fff;
    margin-left: 5px;
}
.footer-line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
    margin-bottom: 12px;
    font-weight: 500;
}
.footer-border {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 0;
    margin-top: 30px;
    font-size: 0.85rem;
    color: rgba(255, 255, 255, 0.6);
}
.social-icons {
    text-align: right;
}
.social-icons a {
    color: #6fc3c8;
    margin-left: 12px;
    font-size: 0.95rem;
}
.social-icons a:hover {
    color: #fff;
    margin-left: 12px;
}
@media (max-width: 768px) {
    .social-icons {
        text-align: center;
        margin-top: 10px;
    }
}
